<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />
	<import resource="applicationContext-server.xml" />

	<bean id="searchProcessor" class="com.googlecode.genericdao.search.jpa.JPASearchProcessor"> <constructor-arg ref="metadataUtil" /> </bean>

	<bean id="metadataUtil" class="com.planetsystems.core.meeting.util.JpaAnnotationMetadataUtil"> </bean>

	<!-- <bean id="authenticationProvider" class="com.planetsystems.procnetura.core.security.authentication.ProcnetAuthenticationProvider" /> -->
	<bean id="applicationContextProvider" class="com.planetsystems.core.meeting.util.ApplicationContextProvider" />

	<bean name="db-settings" class="com.planetsystems.core.meeting.util.PropertyPlaceHolderConfigurer">
		<property name="environmentVariable" value="persistence-dbc" />
		<property name="classPathPropertiesFilename" value="persistence-dbc.properties" />
	</bean>
		
</beans>