<persistence version="1.0" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
     http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd
     http://java.sun.com/xml/ns/persistence/orm
     http://java.sun.com/xml/ns/persistence/orm_1_0.xsd" xmlns:orm="http://java.sun.com/xml/ns/persistence/orm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/persistence">
	<persistence-unit name="Meeting" transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		
		<class>com.planetsystems.model.meetings.Meeting</class>
		<class>com.planetsystems.model.meetings.Committees</class>
		<class>com.planetsystems.model.meetings.AgendaItems</class>
		<class>com.planetsystems.model.meetings.Agenda</class>
		<class>com.planetsystems.model.meetings.CommitteeMember</class>
		<class>com.planetsystems.model.meetings.Meetings</class>
		<class>com.planetsystems.model.meetings.Minutes</class>

		<!-- Utilities integration -->
		<class>com.planetsystems.model.utils.utils_model.Currency</class>
		<class>com.planetsystems.model.utils.utils_model.FinancialYear</class>
		<class>com.planetsystems.model.utils.utils_model.Item</class>
		<class>com.planetsystems.model.utils.utils_model.MeasurementUnit</class>
		<class>com.planetsystems.model.utils.utils_model.Person</class>
		<class>com.planetsystems.model.utils.utils_model.User</class>

		<class>com.planetsystems.model.utils.utils_model.Address</class>
		
		<class>com.planetsystems.model.utils.utils_model.LineItem</class>

		<class>com.planetsystems.model.utils.utils_model.ProcuringEntity</class>
		
		<class>com.planetsystems.model.utils.utils_model.Supplier</class>
		
		<!-- 2nd Dec 2015 -->

		<class>com.planetsystems.model.utils.utils_model.FileAttachment</class>
			<class>com.planetsystems.model.utils.utils_model.Account</class>

		<class>com.planetsystems.model.utils.utils_model.Activity</class>
		
        <class>com.planetsystems.model.utils.utils_model.FundingAgency</class>

		<exclude-unlisted-classes />
		<properties>
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" /> 
		<!-- 	<property name="hibernate.dialect" value="org.hibernate.dialect.SQLServerDialect" /> -->
			<property name="hibernate.hbm2ddl.auto" value="update" />
		</properties>
	</persistence-unit>
</persistence>
